<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT3wyH58zWO42JWsRyGht-R5PxsHdlPxg</string>
	<key>GCM_SENDER_ID</key>
	<string>1001326048718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyBuddies</string>
	<key>PROJECT_ID</key>
	<string>studybuddies-10b69</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddies-10b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001326048718:ios:ec0b520cabff007ef8a79f</string>
</dict>
</plist>